h2 {
  font-family: "ProximaNova", sans-serif;
  font-size: 65px;
  line-height: 64px;
}

.block-bottom {
  position:absolute;
  display: flex;
  margin-top: 1000px;
  width: 1240px;
  align-self: center;
  align-items: center;
}

.back img {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: -100;
}

.circle img {
  /* position: absolute; */
  width: 452px;
  height: 490px;
  overflow: hidden;
  z-index: 10;
  margin-top: -200px;
}
